ion-header {
    ion-toolbar {
      --ion-background-color: #3880ff; /* Color de fondo del encabezado */
      color: #fff; /* Color del texto del encabezado */
    }
  
    ion-title {
      font-size: 24px; /* Tamaño de fuente del título del encabezado */
    }
  }
  
  ion-content {
    --ion-background-color: #f4f4f4; /* Color de fondo del contenido */
  
    form {
      width: 80%;
      max-width: 400px;
      margin: 0 auto; /* Centrar el formulario horizontalmente */
      padding: 20px; /* Espaciado interno del formulario */
  
      ion-item {
        margin-bottom: 15px;
      }
  
      ion-label {
        color: #3880ff; /* Color del texto de la etiqueta */
      }
  
      ion-input,
      ion-select {
        --ion-border-color: #3880ff; /* Color del borde de los campos de entrada y selección */
        --ion-placeholder-color: #999; /* Color del texto de marcador de posición */
      }
  
      ion-button {
        --ion-background-color: #3880ff; /* Color de fondo del botón */
        --ion-color: #fff; /* Color del texto del botón */
        margin-top: 20px;
      }
    }
  }