/* informacion.page.scss */

ion-header {
    ion-toolbar {
      --ion-toolbar-background: var(--ion-color-primary);
      color: var(--ion-color-light);
    }
  }
  
  .info-content {
    text-align: justify;
    padding: 20px;
  
    h1 {
      color: var(--ion-color-primary);
      text-align: center;
      margin-bottom: 15px;
    }
  
    p {
      margin-bottom: 10px;
    }
  
    ul, ol {
      margin-bottom: 10px;
    }
  
    li {
      margin-left: 20px;
    }
  
    .animated-button {
      --background: var(--ion-color-light);
      --border-radius: 25px;
      --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      --padding-end: 20px;
      --padding-start: 20px;
      --min-width: 120px;
  
      ion-icon {
        --color: var(--ion-color-primary);
      }
  
      &:hover {
        --background: var(--ion-color-light-tint);
      }
  
      ion-button-effect {
        transition: background 0.3s, box-shadow 0.3s, transform 0.3s;
      }
    }
  }
  