<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      PARKEZ
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']" color="light" shape="round" class="animated-button">Inicio</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="info-content">
    <h1>¡Bienvenido a PARKEZ!</h1>

    <p>PARKEZ surge como una solución innovadora para abordar el desafío cada vez mayor de encontrar estacionamiento en el Gran Santiago, Chile. Ante la congestión vehicular y la escasez de espacios para estacionar, nuestra plataforma en línea conecta a dueños de estacionamientos particulares con automovilistas en busca de lugares seguros y accesibles.</p>

    <p>Nuestra misión es simplificar el proceso de búsqueda y arrendamiento de estacionamientos, ofreciendo una experiencia conveniente y eficiente tanto para los propietarios de estacionamientos como para los conductores.</p>

    <p>PARKEZ ofrece un sistema intuitivo que permite a los propietarios registrar y gestionar sus estacionamientos de forma remota, mientras que los usuarios pueden buscar, reservar y pagar por estacionamientos a través de nuestra aplicación móvil o plataforma web. Cumplimos con los más altos estándares de calidad y seguridad para garantizar una experiencia confiable para todos nuestros usuarios.</p>

    <p>¡Únete a PARKEZ hoy mismo y descubre una forma más inteligente y conveniente de estacionarte en Santiago!</p>
  </div>
</ion-content>
